@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">Welcome</h1>
    <p>
        <strong>
            You should check the README first to see what needs configuring
            in the <em>Program.cs</em> file.
        </strong>
    </p>
    <ul>
        <li>
            There is no need to create an account
            <ul>
                <li>For a real site one would be created automatically</li>
                <li>This is possible as the email address has been confirmed</li>
            </ul>
        </li>
        <li>
            Therefore, sign-up and login become the same thing
            <ul>
                <li>You can still show separate user flows for clarity</li>
                <li>This sample site uses the same page for both</li>
            </ul>
        </li>
    </ul>
</div>
